.content-list1-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list1-heading1 {
  align-self: flex-start;
}
.content-list1-root-class-name {
  background-color: var(--dl-color-theme-secondary2);
}

.gallery8-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.gallery8-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery8-section-title {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery8-text {
  text-align: center;
}
.gallery8-text1 {
  text-align: center;
}
.gallery8-container {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.gallery8-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery8-slider {
  width: 100%;
  height: 770px;
  display: inline-block;
}
.gallery8-slider-slide {
  height: calc(100% - 20px);
  display: flex;
}
.gallery8-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gallery8-slider-slide1 {
  height: calc(100% - 20px);
  display: flex;
}
.gallery8-image1 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gallery8-slider-slide2 {
  height: calc(100% - 20px);
  display: flex;
}
.gallery8-image2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gallery8-slider-pagination {
  display: block;
}
.gallery8-root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
@media(max-width: 991px) {
  .gallery8-content {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .gallery8-section-title {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .gallery8-slider {
    height: 550px;
  }
}
@media(max-width: 479px) {
  .gallery8-slider {
    height: 440px;
  }
}

.contact1-contact20 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
.contact1-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact1-content {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text {
  align-self: stretch;
  text-align: center;
}
.contact1-text1 {
  text-align: center;
}
.contact1-email {
  text-align: center;
}
.contact1-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text2 {
  align-self: stretch;
  text-align: center;
}
.contact1-text3 {
  text-align: center;
}
.contact1-phone {
  text-align: center;
}
.contact1-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text4 {
  align-self: stretch;
  text-align: center;
}
.contact1-text5 {
  text-align: center;
}
.contact1-address {
  text-align: center;
}
.contact1-root-class-name {
  background-color: var(--dl-color-theme-accent2);
}
@media(max-width: 767px) {
  .contact1-max-width {
    flex-direction: column;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
